* {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

body {
  background-color: #b5e0d2;
  text-align: center;
}

.list {
  width: 400px;
  margin: auto;
  background-color: #f1f0f7;
  border-radius: 20px;
}

.header {
  height: 48px;
  padding: 8px;
  font-size: 24px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(202, 130, 218, 1) 0%,
    rgba(137, 216, 232, 1) 84%
  );
  border-radius: 20px 20px 0 0;
  color: white;
}

.items {
  height: 500px;
  overflow-y: auto; /* 아이템이 점점 많아지면 자동으로 스크롤바가 생긴다  */
}

.footer {
  height: 48px;
  padding: 8px;
  font-size: 24px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(202, 130, 218, 1) 0%,
    rgba(137, 216, 232, 1) 84%
  );
  border-radius: 0 0 20px 20px;
  color: white;
}
