* {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

body {
  background-color: #b5e0d2;
  text-align: center;
}

.list {
  width: 400px;
  margin: auto;
  background-color: #f1f0f7;
  border-radius: 20px;
  -webkit-box-shadow: 9px 11px 5px 0px rgba(125, 124, 125, 1);
  -moz-bow-shadow: 9px 11px 5px 0px rgba(125, 124, 125, 1);
  box-shadow: 9px 11px 5px 0px rgba(125, 124, 125, 1);
}

.header {
  height: 48px;
  padding: 8px;
  font-size: 24px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(202, 130, 218, 1) 0%,
    rgba(137, 216, 232, 1) 84%
  );
  border-radius: 20px 20px 0 0;
  color: white;
}

.items {
  height: 500px;
  overflow-y: auto; /* 아이템이 점점 많아지면 자동으로 스크롤바가 생긴다  */
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 8px 32px;
}

.item__divider {
  width: 90%;
  height: 1px;
  background-color: lightgray;
  margin: auto;
}

.item__delete {
  font-size: 16px;
  transition: all 300ms ease-in;
}

.item__delete:hover {
  color: red;
  transform: scale(1.5); /* 마우스 올렸을 때 쓰레기통 1.5배로 커짐 */
}

.footer {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(202, 130, 218, 1) 0%,
    rgba(137, 216, 232, 1) 84%
  );
  border-radius: 0 0 20px 20px;
}

.footer__input {
  width: 100%;
  height: 32px;
  border: none;
  outline: none;
  font-size: 24px;
  padding: 0 16px;
}

.footer__button {
  width: 48px;
  height: 48px;
  font-size: 32px;
  border-radius: 50%;
  color: white;
  transition: transform 300ms ease-in;
}

.footer__button:hover {
  transform: scale(1.2);
}
